<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates\style.css">
    <title>Arrivals</title>
</head>
<body>
    <form action="/website/index.php" method="post">
        <label for="studentName">Student's name:</label><br>
        <input type="text" name="studentName" id="studentName" required><br>
        <input type="submit" value="Log Arrival">
    </form>
</body>
</html>
